RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule !\.(flv|gif|jpg|jpeg|png|ico|js|css)$ index.php?%{QUERY_STRING}

#ErrorDocument 404 /index.php

AuthUserFile /home/source/.htpasswd
AuthName "Under construction"
AuthType Basic
require valid-user
Order allow,deny
Allow from 192.168.
Allow from 10.155.
Allow from 127.0.0.1
satisfy any
